/* PROGRESS BAR */

.progress {
  height: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 0px;
  margin-bottom: 40px;
}

.progress > .indicator {
  background-color: var(--bg-800);
  height: 10px;
  border-radius: var(--borderRadius);
  flex: 1;
  box-shadow: var(--iconShadow);
}
