.button {
  background-color: var(--bg-800);
  width: 100%;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: var(--borderRadius);
  border: none;
}

.lable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lable > p {
  margin: 0px 10px;
}
