.container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  padding: 20px 24px;
  background-color: var(--bg-800);
  border-bottom: 1px solid var(--bg-600);
  box-shadow: var(--navShadow);
}

.container > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
