.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container > * {
  margin-bottom: 20px;
}

.finalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: var(--pagePadding);
}

.buffer {
  min-height: 100px;
  flex: 1;
  margin-bottom: 0px;
}
