.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--bg-800);
  padding: 24px 20px;
  border-bottom: 1px solid var(--bg-600);
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
