/* FOOTER */

.footer {
  position: fixed;
  bottom: -1px;
  left: 0;
  width: 101%;
  height: 100px;
  border-top: 1px solid var(--bg-600);
  border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
  background-color: var(--bg-800);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--pagePadding);
}

.footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 12px 20px;
  border-radius: var(--borderRadius);
}

.next > p {
  color: var(--bg-800);
}

.footer > .previous {
  padding: 12px 0px;
}

.next {
  background-color: var(--bg-600);
  box-shadow: var(--iconShadow);
}
