.container {
  padding: 20px;
  background-color: var(--bg-800);
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.mainContent {
  display: flex;
  gap: 10px;
}

.notifactions {
  margin-left: auto;
}

.imageContainer {
  background-color: var(--bg-900);
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  overflow: hidden;
  filter: saturate(0%) brightness(90%);
}

.skeleton {
  padding: 20px;
  background-color: var(--bg-800);
  border-radius: var(--borderRadius);
  display: flex;
  align-items: center;
}

.skeletonMain {
  height: 32.5px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.skeletonPic {
  height: 30px;
  aspect-ratio: 1/1;
  border: var(--skeletonOutline);
  display: flex;
  gap: 10px;
  border-radius: 50px;
}

.skeletonText {
  height: 20px;
  width: 125px;
  border: var(--skeletonOutline);
  border-radius: var(--borderRadius);
}

.skeletonIcon {
  margin-left: auto;
  border: var(--skeletonOutline);
  height: 30px;
  aspect-ratio: 1/1;
  border-radius: var(--borderRadius);
}
